@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  background: rgba(43, 43, 43, 1);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  scrollbar-width: none;
  color: rgba(255, 255, 255, 1);
}
.container {
  max-width: 834px;
  margin: 0 auto;
}
.categories-top h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  margin-bottom: 40px;
}
.categories-insid {
  padding: 40px 0;
}
.categories-bottom_card h3 {
  font-weight: 500;
}

.categories-bottom_card {
  transition: 0.9s ease;
}

.categories-bottom_card {
  transition: 0.9s ease;
}

.categories-bottom_card:hover{
   transform: translate(50px, 100px) rotate(100deg) scale(1.5) skewX(20deg)  matrix(1, 0, 0, 1, 0, 0) translate(50px, 30px);
}

.categories-bottom_card-top img {
  display: block;
}

.categories-bottom_card-bottom {
  background-color: #3b3b3b;
  max-width: 150px;
  width: 100%;
  min-height: 68px;
  border-radius: 0 0 25px 25px;
  padding: 20px;
}
.categories-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "item-1 item-2 item-3 item-4"
    "item-5 item-6 item-7 item-8";
  gap: 30px;
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}

.item-6 {
  grid-area: item-7;
}

.item-8 {
  grid-area: item-8;
}
@media screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
    .categories-bottom {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "item-1 item-2 item-3"
        "item-4 item-5 item-6"
        "item-7 item-8   .   "
        ;
    }
}
@media screen and (max-width: 400px) {
    .categories-top h2 {
        font-size: 24px;
    }
    .container {
      padding: 20px;
    }
    .categories-bottom {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "item-1 item-2"
        "item-3 item-4"
        "item-5 item-6"
        "item-7 item-8"
        ;
    }
}
@media screen and (max-width: 165px) {
    .categories-top h2 {
        font-size: 16px;
    }
    .container {
      padding:20px;
      
    }
    .categories-bottom {
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "item-1"
        "item-2"
        "item-3"
        "item-4"
        "item-5"
        "item-6"
        "item-7"
        "item-8"
        ;
    }
}