@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.box {
  background: linear-gradient(160deg, #002fff 0%, #3415be 100%);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
