* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    max-width: 140px;
    width: 100%;
    border: 1px solid #ccc;
    min-height: 183px;
    border-radius: 32px;
}

.box-top {
    max-width: 104px;
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;
}

.box-bottom h4 {
    text-align: center;
}

.box-bottom_internal-box {
    display: flex;
    align-items: center;
    max-width: 104px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.count {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.minus,
.plus {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5ff;
    border-radius: 50%;
    font-size: 12px;
}